.earth {
    fill: #e2f1f1;
    stroke: none;
}

.graticule {
    stroke: #cadddd;
    fill: none;
}

.legend-title {
    fill: #576574;
    text-anchor: middle;
    font-weight: 900;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

.legend-byline {
    fill: #576574;
    opacity: 0.6;
    text-anchor: middle;
    font-size: 0.7em;
}